@font-face {
    font-family: "QIJIFALLBACK";
    src: url(../../assert/test.ttf) format("truetype");
}
.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    .hello {
        margin: auto;
        text-align: center;
        .img {
            width: 250px;
        }
        .text {
            font-family: "QIJIFALLBACK";
            font-size: 30px;
        }
    }
}
